.header-button {
    color: var(--color-primary);
    cursor: pointer;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.header-button:hover,
.header-button:focus {
    transform: scale(1.1);
}
