.emulator .emulator-icon {
    object-fit: cover;
    fill: var(--color-primary);
    color: var(--color-primary);
    width: 100%;
    height: 100%;
}
.emulator {
    aspect-ratio: 1;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    height: var(--emulators-item-height);
    width: var(--emulators-item-height);
    aspect-ratio: 1;
}

.emulator:not(:last-child) {
    padding-right: var(--emulator-padding-right);
    padding-bottom: var(--emulator-padding-bottom);
}

/*.emulator:hover,*/
.emulator.selected {
    transform: scale(1.2);
}
